In [1]:
product_names = "prod1,prod2,prod3,prod4"
for i in product_names:
    print i

p
r
o
d
1
,
p
r
o
d
2
,
p
r
o
d
3
,
p
r
o
d
4

In [2]:
product_names = "prod1,prod2,prod3,prod4"

In [3]:
products = ['prod1','prod2','prod3','prod4']
for i in products:
    print i

prod1
prod2
prod3
prod4

In [4]:
print products[0]

prod1

In [5]:
products[1]

'prod2'

In [6]:
products[2]

'prod3'

In [7]:
l=['a','b','c','d','e','f']

In [8]:
l[1:5]

['b', 'c', 'd', 'e']

In [9]:
l[3]

'd'

In [10]:
l[8]

IndexError: list index out of range

In [11]:
l[8:]

[]

In [12]:
l=[1,1.2,1+2j,[10,20,30,40,50],'python']

In [13]:
l

[1, 1.2, (1+2j), [10, 20, 30, 40, 50], 'python']

In [14]:
l[1]

1.2

In [15]:
l[2]

(1+2j)

In [16]:
l[3]

[10, 20, 30, 40, 50]

In [17]:
l[3][1]

20

In [18]:
l=[10,20,30,40]
sum(l)

100

In [19]:
l=[10,20,"python",1.2,"wert"]
sum(l)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
isinstance(123,int)

True

In [21]:
isinstance(1.2,float)

True

In [22]:
isinstance('pythoin',str)

True

In [23]:
l

[10, 20, 'python', 1.2, 'wert']

In [25]:
l2=[10,20,30,40]
s =0
for i in l2:
    s=s+i
print s

100

In [26]:
l = [10, 20, 'python', 1.2, 'wert']
s=0
for i in l:
    if isinstance(i,int) or isinstance(i,float):
        s=s+i
print s

31.2

In [27]:
type(i)

str

In [28]:
t=type(i)

In [29]:
type(t)

type

In [30]:
s="prod1,prod2,prod3,prod4"
s.split(',')

['prod1', 'prod2', 'prod3', 'prod4']

In [31]:
s=raw_input("Enter numbers:")
print s

Enter numbers:10,20,30,40
10,20,30,40

In [33]:
l=s.split(',')

In [34]:
l

['10', '20', '30', '40']

In [35]:
sum(l)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
l

['10', '20', '30', '40']

In [37]:
l.append('50')

In [38]:
l

['10', '20', '30', '40', '50']

In [39]:
tmp = []
for i in l:
    print i,type(i)

10 <type 'str'>
20 <type 'str'>
30 <type 'str'>
40 <type 'str'>
50 <type 'str'>

In [40]:
tmp = []
for i in l:
    i=int(i)
    tmp.append(i)
print tmp

[10, 20, 30, 40, 50]

In [41]:
sum(tmp)

150

In [42]:
s=raw_input("Enter numbers separated by coma:")
print s
l = s.split(',')
tmp = []
for i in l:
    tmp.append(int(i))
print tmp
print sum(tmp)

Enter numbers separated by coma:10,20,30,40,50,6
10,20,30,40,50,6
[10, 20, 30, 40, 50, 6]
156

In [43]:
s=raw_input("Enter numbers separated by coma:")
print s
l = s.split(',')
tmp = []
for i in l:
    tmp.append(int(i))
print tmp
print sum(tmp)

Enter numbers separated by coma:12.34,56,78,9
12.34,56,78,9

ValueError: invalid literal for int() with base 10: '12.34'

In [44]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [45]:
int(12.34)

12

In [46]:
float("12.34")

12.34

In [48]:
s=raw_input("Enter numbers separated by coma:")
print s
l = s.split(',')
tmp = []
for i in l:
    tmp.append(float(i))
print tmp
print sum(tmp)

Enter numbers separated by coma:12.34,56,78
12.34,56,78
[12.34, 56.0, 78.0]
146.34

In [49]:
s=raw_input("Enter numbers separated by coma:")
print s
l = s.split(',')
tmp = []
for i in l:
    tmp.append(float(i))
print tmp
print sum(tmp)

Enter numbers separated by coma:12.34,python,a,34,56
12.34,python,a,34,56

ValueError: could not convert string to float: python

In [50]:
s=raw_input("Enter numbers separated by coma:")
print s
l = s.split(',')
print l

Enter numbers separated by coma:10,20,30,"python,34,56.78
10,20,30,"python,34,56.78
['10', '20', '30', '"python', '34', '56.78']

In [51]:
l

['10', '20', '30', '"python', '34', '56.78']

In [52]:
for i in l:
    print type(i)

<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>

In [53]:
s=raw_input("Enter numbers separated by coma:")
print s
l = s.split(',')
tmp = []
for i in l:
    if i.isdigit():
        tmp.append(float(i))
print tmp
print sum(tmp)

Enter numbers separated by coma:10,python,20,34
10,python,20,34
[10.0, 20.0, 34.0]
64.0

In [54]:
"python".isdigit()

False

In [55]:
"pu123".isdigit()

False

In [56]:
"12.34".isdigit()

False

In [57]:
s=raw_input("Enter numbers separated by coma:")
print s
l = s.split(',')
tmp = []
for i in l:
    if i.isdigit():
        tmp.append(float(i))
print tmp
print sum(tmp)

Enter numbers separated by coma:12.34,python
12.34,python
[]
0

In [58]:
l=[1,2,3,4]
l1=[5,6,7,8]
print l+l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
# write a prdgram to add tow lists
zip(l,l1)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [60]:
for i in zip(l,l1):
    print i

(1, 5)
(2, 6)
(3, 7)
(4, 8)

In [61]:
for i in zip(l,l1):
    print i[0]+i[1]

6
8
10
12

In [62]:
tmp = []
for i in zip(l,l1):
    tmp.append(i[0]+i[1])

In [63]:
tmp

[6, 8, 10, 12]

In [64]:
l+l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
l-l1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [66]:
l*l1

TypeError: can't multiply sequence by non-int of type 'list'

In [67]:
l+12

TypeError: can only concatenate list (not "int") to list

In [68]:
l-12

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [69]:
l*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [70]:
l*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
l=['p1','p3','p4']
p = raw_input("Enter product:")
print l+p

In [71]:
['p1','p2','p3']+"p4"

TypeError: can only concatenate list (not "str") to list

In [72]:
['p1','p2','p3']+["p4"]

['p1', 'p2', 'p3', 'p4']

In [73]:
l=['p1','p3','p4']
p = raw_input("Enter product:")
print l+[p]

Enter product:product5
['p1', 'p3', 'p4', 'product5']

In [74]:
l=[10,20,30,40,50]
l[1]=200

In [75]:
l

[10, 200, 30, 40, 50]

In [76]:
s="pytho program"
s[2]="s"

TypeError: 'str' object does not support item assignment

In [77]:
s.replace('t','s')

'pysho program'

In [78]:
s

'pytho program'

In [79]:
s1 = s.replace('t','s')

In [80]:
s1

'pysho program'

In [81]:
s

'pytho program'

In [82]:
l=[10,20,30,4]
l1=l.append(50)
print l1

None

In [83]:
l

[10, 20, 30, 4, 50]

In [84]:
s="python"
l=['p','y','t','h','o','n']
s1=s.replace('t','s')
l1 = l.append("python")
print s,s1
print l,l1

python pyshon
['p', 'y', 't', 'h', 'o', 'n', 'python'] None