In [1]:
import sys

In [2]:
a=10
b=20
c="python"
d=1.234

In [3]:
type(a)

int

In [4]:
type(c)

str

In [5]:
type(d)

float

In [6]:
a="python"

In [7]:
a1=100
b1=a1
c1="python"
a1=200
b1=300

In [8]:
print "hello world"

hello world

In [9]:
PRINT "hello world"

SyntaxError: invalid syntax (<ipython-input-9-edb8838112ae>, line 1)

In [10]:
a=10
b=20

print a+b
print a-b
print a*b
print a/b
print a%b
print a**2

30
-10
200
0
10
100

In [11]:
print 10/20

0

In [12]:
print 10/20.0

0.5

In [13]:
a=10
b=20
print a.0

SyntaxError: invalid syntax (<ipython-input-13-e6aa67986f72>, line 3)

In [14]:
print float(a)

10.0

In [15]:
c=float(a)

In [16]:
c

10.0

In [17]:
a

10

In [18]:
a=float(a)

In [19]:
a

10.0

In [20]:
a=10
b=10.0
print id(a)
print id(b)

38817952
139623950983472

In [21]:
a=10
b=20
print float(a)/b

0.5

In [22]:
print float(a/b)

0.0

In [23]:
a=10
b=10.0
print a==b

True

In [24]:
print a is b

False

In [25]:
a=10
b=10
print a==b
print a is b

True
True

In [26]:
l=[1,2,3,4]
l1=[1,2,3,4]
print l1==l
print l1 is l

True
False

In [27]:
print id(l)

139624169700384

In [28]:
print id(l1)

139624169698512

In [29]:
a>b

False

In [30]:
a<b

False

In [31]:
a

10

In [32]:
b

10

In [33]:
a>=b

True

In [34]:
a<=b

True

In [35]:
a=10
print a
print "a"

10
a

In [36]:
emp_name= "name123"
emp#name = "name123

NameError: name 'emp' is not defined

In [37]:
emp1 = "name123"

In [38]:
1emp = "name123"

SyntaxError: invalid syntax (<ipython-input-38-0092d9091be2>, line 1)

In [39]:
a=0

In [40]:
print a

0

In [41]:
print z

NameError: name 'z' is not defined

In [43]:
print "z"

z

In [44]:
a=10
b=010

In [45]:
print a

10

In [46]:
print b

8

In [47]:
c1="d123"
c=d123

NameError: name 'd123' is not defined

In [48]:
c=0x123

In [49]:
print c

291

In [50]:
print 3*16**0+2*16**1+1*16**2

291

In [51]:
a=10
b=010

In [52]:
print 0*8**0+1*8**1

8

In [53]:
print 0b010101

21

In [54]:
a=10
b=20
print a+b

30

In [55]:
a=raw_input("Enter a data:")
b=raw_input("Enter b data:")
print a+b

Enter a data:10
Enter b data:20
1020

In [56]:
print "10"+"20"
print 10+20

1020
30

In [57]:
s="str1"
s1="str2"

In [58]:
print s+s1

str1str2

In [59]:
print s1-s2

NameError: name 's2' is not defined

In [60]:
print 10+20

30

In [61]:
print "str1"+"str1"

str1str1

In [62]:
print "str1"+2

TypeError: cannot concatenate 'str' and 'int' objects

In [63]:
print "str1"*"str2"

TypeError: can't multiply sequence by non-int of type 'str'

In [64]:
print "str1"+"2345"

str12345

In [65]:
a=1234
b="1234"
print type(a)
print type(b)

<type 'int'>
<type 'str'>

In [66]:
print a==b

False

In [67]:
print "str1"*23

str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1str1

In [68]:
a=raw_input("Enter a data:")
b=raw_input("Enter b data:")
print a
print b
print type(a)
print type(b)
print a+b

Enter a data:12
Enter b data:34
12
34
<type 'str'>
<type 'str'>
1234

In [69]:
a=raw_input("Enter a data:")
b=raw_input("Enter b data:")
a=int(a)
b=int(b)
print type(a)
print type(b)
print a+b

Enter a data:12
Enter b data:34
<type 'int'>
<type 'int'>
46

In [70]:
a=raw_input("Enter a data:")
b=raw_input("Enter b data:")
a=int(a)
b=int(b)
print type(a)
print type(b)
print a+b

Enter a data:10.23
Enter b data:34.56

ValueError: invalid literal for int() with base 10: '10.23'

In [71]:
print int(12.34)

12

In [72]:
print int("1000")

1000

In [73]:
print int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [74]:
int("0123456789")

123456789

In [75]:
print int("abc123")

ValueError: invalid literal for int() with base 10: 'abc123'

In [76]:
a=raw_input("Enter a data:")
b=raw_input("Enter b data:")
a=float(a)
b=float(b)
print type(a)
print type(b)
print a+b

Enter a data:10
Enter b data:23
<type 'float'>
<type 'float'>
33.0

In [77]:
a=raw_input("Enter a data:")
b=raw_input("Enter b data:")
a=float(a)
b=float(b)
print type(a)
print type(b)
print a+b

Enter a data:12.34
Enter b data:45.67
<type 'float'>
<type 'float'>
58.01

In [78]:
a=raw_input("Enter a data:")
b=raw_input("Enter b data:")
a=float(a)
b=float(b)
print type(a)
print type(b)
print a+b

Enter a data:wert
Enter b data:w345

ValueError: could not convert string to float: wert