In [1]:
f=open('data.csv','r')
data = f.read()

In [2]:
print data

id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1
4,name4,111213,ad2
5,name5,1235,ad2
6,name6,4568,ad3
7,name7,8911,ad2
8,name8,111214,ad3
9,name9,1236,ad3
10,name10,4569,ad4
11,name11,8912,ad3
12,name12,111215,ad4
13,name13,1237,ad4
14,name14,4570,ad5
15,name15,8913,ad4
16,name16,111216,ad5
17,name17,1238,ad5
18,name18,4571,ad6
19,name19,8914,ad5
20,name20,111217,ad6
21,name21,1239,ad6
22,name22,4572,ad7
23,name23,8915,ad6
24,name24,111218,ad7
25,name25,1240,ad7
26,name26,4573,ad8
27,name27,8916,ad7
28,name28,111219,ad8
29,name29,1241,ad8
30,name30,4574,ad9
31,name31,8917,ad8

In [3]:
print type(data)

<type 'str'>

In [4]:
data

'id,name,salary,address\n1,name1,1234,ad1\n2,name2,4567,ad2\n3,name3,8910,ad1\n4,name4,111213,ad2\n5,name5,1235,ad2\n6,name6,4568,ad3\n7,name7,8911,ad2\n8,name8,111214,ad3\n9,name9,1236,ad3\n10,name10,4569,ad4\n11,name11,8912,ad3\n12,name12,111215,ad4\n13,name13,1237,ad4\n14,name14,4570,ad5\n15,name15,8913,ad4\n16,name16,111216,ad5\n17,name17,1238,ad5\n18,name18,4571,ad6\n19,name19,8914,ad5\n20,name20,111217,ad6\n21,name21,1239,ad6\n22,name22,4572,ad7\n23,name23,8915,ad6\n24,name24,111218,ad7\n25,name25,1240,ad7\n26,name26,4573,ad8\n27,name27,8916,ad7\n28,name28,111219,ad8\n29,name29,1241,ad8\n30,name30,4574,ad9\n31,name31,8917,ad8\n'

In [6]:
for k in data:
    print k
    break

i

In [7]:
lines  =data.split('\n')

In [8]:
lines

['id,name,salary,address',
 '1,name1,1234,ad1',
 '2,name2,4567,ad2',
 '3,name3,8910,ad1',
 '4,name4,111213,ad2',
 '5,name5,1235,ad2',
 '6,name6,4568,ad3',
 '7,name7,8911,ad2',
 '8,name8,111214,ad3',
 '9,name9,1236,ad3',
 '10,name10,4569,ad4',
 '11,name11,8912,ad3',
 '12,name12,111215,ad4',
 '13,name13,1237,ad4',
 '14,name14,4570,ad5',
 '15,name15,8913,ad4',
 '16,name16,111216,ad5',
 '17,name17,1238,ad5',
 '18,name18,4571,ad6',
 '19,name19,8914,ad5',
 '20,name20,111217,ad6',
 '21,name21,1239,ad6',
 '22,name22,4572,ad7',
 '23,name23,8915,ad6',
 '24,name24,111218,ad7',
 '25,name25,1240,ad7',
 '26,name26,4573,ad8',
 '27,name27,8916,ad7',
 '28,name28,111219,ad8',
 '29,name29,1241,ad8',
 '30,name30,4574,ad9',
 '31,name31,8917,ad8',
 '']

In [10]:
for line in lines:
    print line
    break

id,name,salary,address

In [11]:
f=open('data.csv','r')
data = f.readlines()

In [12]:
type(data)

list

In [13]:
data[0]

'id,name,salary,address\n'

In [14]:
data[1]

'1,name1,1234,ad1\n'

In [15]:
for i in data:
    print i
    break

id,name,salary,address

In [17]:
for i in data:
    print i[2:7]

,name
name1
name2
name3
name4
name5
name6
name7
name8
name9
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name
,name

In [19]:
for i in data:
    print i.split(',')

['id', 'name', 'salary', 'address\n']
['1', 'name1', '1234', 'ad1\n']
['2', 'name2', '4567', 'ad2\n']
['3', 'name3', '8910', 'ad1\n']
['4', 'name4', '111213', 'ad2\n']
['5', 'name5', '1235', 'ad2\n']
['6', 'name6', '4568', 'ad3\n']
['7', 'name7', '8911', 'ad2\n']
['8', 'name8', '111214', 'ad3\n']
['9', 'name9', '1236', 'ad3\n']
['10', 'name10', '4569', 'ad4\n']
['11', 'name11', '8912', 'ad3\n']
['12', 'name12', '111215', 'ad4\n']
['13', 'name13', '1237', 'ad4\n']
['14', 'name14', '4570', 'ad5\n']
['15', 'name15', '8913', 'ad4\n']
['16', 'name16', '111216', 'ad5\n']
['17', 'name17', '1238', 'ad5\n']
['18', 'name18', '4571', 'ad6\n']
['19', 'name19', '8914', 'ad5\n']
['20', 'name20', '111217', 'ad6\n']
['21', 'name21', '1239', 'ad6\n']
['22', 'name22', '4572', 'ad7\n']
['23', 'name23', '8915', 'ad6\n']
['24', 'name24', '111218', 'ad7\n']
['25', 'name25', '1240', 'ad7\n']
['26', 'name26', '4573', 'ad8\n']
['27', 'name27', '8916', 'ad7\n']
['28', 'name28', '111219', 'ad8\n']
['29', 'name29', '1241', 'ad8\n']
['30', 'name30', '4574', 'ad9\n']
['31', 'name31', '8917', 'ad8\n']

In [21]:
names=[]
for i in data:
    names.append(i.split(',')[1])

In [22]:
names

['name',
 'name1',
 'name2',
 'name3',
 'name4',
 'name5',
 'name6',
 'name7',
 'name8',
 'name9',
 'name10',
 'name11',
 'name12',
 'name13',
 'name14',
 'name15',
 'name16',
 'name17',
 'name18',
 'name19',
 'name20',
 'name21',
 'name22',
 'name23',
 'name24',
 'name25',
 'name26',
 'name27',
 'name28',
 'name29',
 'name30',
 'name31']

In [23]:
[i.split(',')[1] for i in data]

['name',
 'name1',
 'name2',
 'name3',
 'name4',
 'name5',
 'name6',
 'name7',
 'name8',
 'name9',
 'name10',
 'name11',
 'name12',
 'name13',
 'name14',
 'name15',
 'name16',
 'name17',
 'name18',
 'name19',
 'name20',
 'name21',
 'name22',
 'name23',
 'name24',
 'name25',
 'name26',
 'name27',
 'name28',
 'name29',
 'name30',
 'name31']

In [24]:
map(lambda i:i.split(',')[1],data)

['name',
 'name1',
 'name2',
 'name3',
 'name4',
 'name5',
 'name6',
 'name7',
 'name8',
 'name9',
 'name10',
 'name11',
 'name12',
 'name13',
 'name14',
 'name15',
 'name16',
 'name17',
 'name18',
 'name19',
 'name20',
 'name21',
 'name22',
 'name23',
 'name24',
 'name25',
 'name26',
 'name27',
 'name28',
 'name29',
 'name30',
 'name31']

In [26]:
f=open('data.csv')
data = f.re()
print data
print "reading second time$$$$$$$$$$$$$$"
data1=f.read()
print data1

id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

reading second time$$$$$$$$$$$$$$

In [28]:
f=open('data.csv')
print f.tell()
data = f.read()
print data
print f.tell()
data1 = f.read()
print f.tell()

0
id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

74
74

In [30]:
f=open('data.csv')
print f.tell()
data = f.read()
print data
print f.tell()
f.seek(0)
print f.tell()
data1 = f.read()
print data1
print f.tell()

0
id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

74
0
id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

74

In [33]:
f=open('data.csv')
l1 = f.readline()
print l1
print f.tell()
l2= f.readline()
print l2
print f.tell()
print f.readlines()

id,name,salary,address

23
1,name1,1234,ad1

40
['2,name2,4567,ad2\n', '3,name3,8910,ad1\n']

In [35]:
f=open('f1.txt','w')
f.write('Some data')

In [36]:
f=open('f1.txt','w')
f.write('Some data')
f.close()

In [37]:
f=open('f1.txt','w')

In [38]:
f=open('f1.txt','w')
f.write("somedata")
f.close()
f.write("some more data")

ValueError: I/O operation on closed file

In [39]:
f=open('f1.txt','w')
f.write("somedata")
f.flush()
f.write("some more data")
f.flush()

In [40]:
data  = ['data1','data2','data3']
f=open('f1.txt','w')
for i in data:
    f.write(i)
f.close()

In [41]:
data  = ['data1','data2','data3']
f=open('f1.txt','w')
f.writelines(data)
f.close()

In [42]:
data  = ['data1','data2','data3']
f=open('f1.txt','a')
f.writelines(data)
f.close()

In [43]:
f=open('f1.txt','w')
f.write(1234)
f.close()

TypeError: expected a string or other character buffer object

In [44]:
f=open('f1.txt','w')
f.write(str(1234))
f.close()

In [45]:
d={'name':'na1','id':23}
f=open('f1.txt','w')
f.write(d)
f.close()

TypeError: expected a string or other character buffer object

In [46]:
d={'name':'na1','id':23}
f=open('f1.txt','w')
f.write(str(d))
f.close()

In [47]:
d=['name1','name2','name3','name4']
f=open('f1.txt','w')
f.write(str(d))
f.close()

In [48]:
f = open('f1.txt')
data = f.read()
print type(data)

<type 'str'>

In [49]:
data

"['name1', 'name2', 'name3', 'name4']"

In [50]:
import json
data_list = json.loads(data)

ValueError: No JSON object could be decoded

In [51]:
import pickle

In [52]:
l=['name1','name2','name3']
d={'id':1,'names':'name1'}
f=open('f1.txt','w')
pickle.dump(l,f)
pickle.dump(d,f)
f.close()

In [53]:
f=open('f1.txt')
l1=pickle.load(f)
d1=pickle.load(f)
f.close()
print l1,type(l1)
print d1,type(d1)

['name1', 'name2', 'name3'] <type 'list'>
{'id': 1, 'names': 'name1'} <type 'dict'>